<header>
  <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #000000;">
    <div class="container">
      <a class="navbar-brand" href="{{ '/' | url }}">
        <img src="{{ '/assets/tnt_logo_small.jpg' | url }}" alt="John Blake" style="height: 40px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          {% for item in navigation.main %}
          <li class="nav-item">
            <a class="nav-link" href="{{ item.url | url }}">{{ item.text }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</header>
